/* My library */
/* buttons both watched, queue  */
.watched,
.queue {
    display: inline-block;
    border: none;
    height: 34px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14/12);

    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: #B92F2C;
        color: white;
        box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}

@media screen and (min-width:768px) and (max-width:1279px) {

    .watched,
    .queue {

        height: 38px;
        font-size: 12px;
        line-height: calc(14/12);
    }
}

@media screen and (min-width:1280px) {

    .watched,
    .queue {

        height: 42px;
        font-size: 12px;
        line-height: calc(14/12);
    }
}


/* buttons seperately watched, queue  */
.watched {
    min-width: 102px;

}

.watched:hover,
.queue:hover {
    background: white;
    color: #B92F2C;
}

.watched:focus,
.queue:focus {
    background: white;
    color: #B92F2C;
}
.queue {
    min-width: 86px;

}

.is-active {
    background: white;
    color: #B92F2C;
}


@media screen and (min-width:1280px) {
    .watched {
        min-width: 120px;
    }


}

/* div library_mobile */
.movie-libraries {
    margin-left: calc((100% - 188px) / 2.5);
    margin-top: 16px;
}

@media screen and (min-width:767px) and (max-width:1279px) {
    .movie-libraries {
        margin: 0;
    }
}

@media screen and (min-width:1280px) {
    .movie-libraries {
        margin: 0;
    }
}

.container-header-library {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width:767px) and (max-width:1279px) {
    .container-header-library {
        display: block;
    }
}

@media screen and (min-width:767px) and (max-width:1279px) {
    .nav-library {
        margin: 0;

    }

    .library-mobile {
        display: inline-block;
        margin-left: 470px;
    }
}

@media screen and (min-width:1280px) {
    .nav-library {
        margin: 0;

    }

    .library-mobile {
        margin-left: 940px;
        margin-top: 0;
    }
}

.library-logo{
    text-decoration: none;
}
.library-link{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    text-decoration: none;
}
