.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
}

.footer-modal {
    width: 280px;
    height: 80vh;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 300ms linear;
    padding: 28px 20px 40px 20px;
    overflow: scroll;

    @media screen and (min-width:768px) {
        width: 704px;
        min-height: 581px;
    }
}

.backdrop .is-hidden .footer-modal {
    transform: translate(-50%, -50%) scaleX(0);
}

.footer-modal-close {
    width: 30px;
    height: 30px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;
    border: none;
    fill: #000;
    cursor: pointer;

    &:focus,
    &:hover {
        fill: #B92F2C;
    }
}

.footer-modal-close-icon {
    width: 14px;
    height: 14px;
    fill: #000;
}

.footer-modal-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 20px;

    @media screen and (min-width:768px) {
        font-size: 30px;
        line-height: 1.16;
        margin-bottom: 21px;
    }

}

.footer-modal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-modal-text {
    display: block;
}

.footer-modal-item {
    width: 208px;
   
    border: none;

//     @media screen and (min-width:768px) {
//         width: 220px;
//     }
// }

// .footer-modal-img {
//     @media screen and (min-width:768px) {
//         width: 220px;
//     }
}

.footer-modal-tytle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;
    color: #000000;
}

.footer-modal-type {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #B92F2C;
}