<header>
    <div class="container-header-library container-header container">
        <nav class="nav-library">
            <a href="./index.html" class="home home-library">Home</a>
            <a href="./library.html" class="library library-library">My Library</a>

        </nav>
        <div class="library-mobile">

            <div class="logo library-logo">
                <a href="./index.html">
                    <svg class="logo-img" width="59" height="59">
                        <use href="./images/symbol-defs.svg#film"></use>
                    </svg>
                    <span class="logo-text">Filmoteka</span>
                </a>
            </div>

            <div class="movie-libraries">
                <button type="button" class="watched is-active">Watched</button>
                <button type="button" class="queue">Queue</button>

            </div>
        </div>
    </div>
</header>