<!-- <div class="modal__backdrop">
  <div class="modal__container">
    <button type="button" class="modal__close">
      <svg class="modal__svg">
        <use href="../images/icon.svg#close"></use>
      </svg>
    </button>

    <div class="modal__content">
      <div class="modal__img-container">
        <img src="" alt="" class="modal__img" />
      </div>
      <div>
        <h2 class="modal__title--film"></h2>
        <ul class="modal__film--info">
          <li class="modal__item--info"></li>
          <li class="modal__item--info"></li>
          <li class="modal__item--info"></li>
          <li class="modal__item--info"></li>
        </ul>
      </div>
      <div>
        <h3 class="modal__about">ABOUT</h3>
        <p class="modal__text"></p>
      </div>
      <div>
        <button type="button" class="modal__btn">add to Watched</button>
        <button type="button" class="modal__btn">add to queue</button>
      </div>
    </div>
  </div>
</div> -->
