<div class="backdrop is-hidden" data-modal-team>
    <div class="footer-modal">
        <button type="button" class="footer-modal-close" data-modal-team-close>
            <svg class="footer-modal-close-icon" weight="14" height="14">
                <use href="./images/symbol-defs.svg#close"></use>
            </svg>
        </button>

        <p class="footer-modal-title">Team MovieLand</p>

        <ul class="footer-modal-list">
            <li class="footer-modal-item">
                <img src="./images/avatars/10.jpg" alt="Inna Olkhovska" width="208px">
                
                <div class="footer-modal-text">
                    <p class="footer-modal-tytle">Inna Olkhovska</p>
                    <p class="footer-modal-type">Scrum Master</p>
                </div>
            </li>
            <li class="footer-modal-item">
                <img src="./images/avatars/8.jpg" alt="Anna Grigorovich" width="208px">
            
                <div class="footer-modal-text">
                    <p class="footer-modal-tytle">Anna Grigorovich</p>
                    <p class="footer-modal-type">Team Lead</p>
                </div>
            </li>
            <li class="footer-modal-item">
                <img src="./images/avatars/1.jpg" alt="Olga Averjanova" width="208px">
            
                <div class="footer-modal-text">
                    <p class="footer-modal-tytle">Olga Averjanova</p>
                    <p class="footer-modal-type">Developer</p>
                </div>
            </li>
            <li class="footer-modal-item">
                <img src="./images/avatars/2.jpg" alt="Julia Ivanova" width="208px">
            
                <div class="footer-modal-text">
                    <p class="footer-modal-tytle">Julia Ivanova</p>
                    <p class="footer-modal-type">Developer</p>
                </div>
            </li>
            <li class="footer-modal-item">
                <img src="./images/avatars/3.jpg" alt="Olena Blyzniuk" width="208px">
            
                <div class="footer-modal-text">
                    <p class="footer-modal-tytle">Olena Blyzniuk</p>
                    <p class="footer-modal-type">Developer</p>
                </div>
            </li>
            <!-- <li class="footer-modal-item">
                <img src="./images/avatars/4.jpg" alt="Maxim Maran" width="208px">
            
                <div class="footer-modal-text">
                    <p class="footer-modal-tytle">Maxim Maran</p>
                    <p class="footer-modal-type">Developer</p>
                </div>
            </li> -->
            <li class="footer-modal-item">
                <img src="./images/avatars/5.jpg" alt="Maxim Lysov" width="208px">
            
                <div class="footer-modal-text">
                    <p class="footer-modal-tytle">Maxim Lysov</p>
                    <p class="footer-modal-type">Developer</p>
                </div>
            </li>
            <!-- <li class="footer-modal-item">
                <img src="./images/avatars/6.jpg" alt="Zalipkavn" width="208px">
            
                <div class="footer-modal-text">
                    <p class="footer-modal-tytle">Zalipkavn</p>
                    <p class="footer-modal-type">Developer</p>
                </div>
            </li> -->
            <li class="footer-modal-item">
                <img src="./images/avatars/7.jpg" alt="Oksana Teliupa" width="208px">
            
                <div class="footer-modal-text">
                    <p class="footer-modal-tytle">Oksana Teliupa</p>
                    <p class="footer-modal-type">Developer</p>
                </div>
            </li>
            <li class="footer-modal-item">
                <img src="./images/avatars/9.jpg" alt="Anastasia Demianenko" width="208px">
            
                <div class="footer-modal-text">
                    <p class="footer-modal-tytle">Anastasia Demianenko</p>
                    <p class="footer-modal-type">Developer</p>
                </div>
            </li>
            <li class="footer-modal-item">
                <img src="./images/avatars/11.jpg" alt="Viktor Zinkevych" width="208px">
            
                <div class="footer-modal-text">
                    <p class="footer-modal-tytle">Viktor Zinkevych</p>
                    <p class="footer-modal-type">Developer</p>
                </div>
            </li>
            <li class="footer-modal-item">
                <img src="./images/avatars/12.jpg" alt="Sergii SOLODOVNYK" width="208px">
            
                <div class="footer-modal-text">
                    <p class="footer-modal-tytle">Sergii SOLODOVNYK</p>
                    <p class="footer-modal-type">Developer</p>
                </div>
            </li>
            <li class="footer-modal-item">
                <img src="./images/avatars/13.jpg" alt="Vladislav" width="208px">
            
                <div class="footer-modal-text">
                    <p class="footer-modal-tytle">Vladislav</p>
                    <p class="footer-modal-type">Developer</p>
                </div>
            </li>
        </ul>
    </div>
</div>